.git
.github
.claude
.idea
.env
.editorconfig
.tool-versions
.npmrc
.mcp.json

node_modules
vendor
tests
docs
database/*.sqlite

vite.config.js
package.json
package-lock.json
phpunit.xml
boost.json
CLAUDE.md
README.md
